<div class="row">
  <div class="col-xs-12">
    <div ng-if="!prices.data">
      <span><p class="text-center">Click on map to select destination</p></span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    <div ng-if="pricesLoadingText && !prices.data">
      <span ng-bind="pricesLoadingText"></span>
    </div>
    <div ng-if="prices.data" id="prices">
      <div ng-if="prices.data.prices.length">
        <span ng-if="!currentProduct">Please choose a service:</span>
        <div class="list-group">
          <a href ng-repeat="price in prices.data.prices" class="list-group-item"
                  ng-class="{active: (currentProduct && currentProduct.product_id === price.product_id)}"
                  ng-click="setCurrentProduct(price)">
            <span ng-bind="price.display_name"></span> - <span ng-bind="price.estimate"></span>
          </a>
        </div>
      </div>
      <div ng-if="!prices.data.prices.length">
        <span>No Uber products currently available in your area, please try again later.</span>
      </div>
    </div>
  </div>
  <div class="col-xs-6">
    <div ng-if="currentProduct" id="price-detail">
      <div>
          <a href ng-click="getCurrentRide()"><span style="font-size: 100px;margin-top: -17px;margin-left: 40%;" class="glyphicon glyphicon-arrow-right"
                aria-hidden="true"></span>
          </a>
      </div>
    </div>
    <div id="ride-status"></div>
  </div>
</div>
