<div class="row">
  <div class="col-xs-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Trip distance:</h3>
      </div>
      <div class="panel-body">
        <span ng-bind="currentProduct.distance"></span> miles
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Trip duration:</h3>
      </div>
      <div class="panel-body">
        <span ng-bind="currentProduct.duration"></span> minutes
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Cost estimate:</h3>
      </div>
      <div class="panel-body">
        <span ng-bind="currentProduct.estimate"></span>
      </div>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Guardians:</h3>
      </div>
      <div class="panel-body" style="height: 273px;">
        <div class="row" style="margin: 0px;">
          <div class="col-xs-12">

            <form class="form-horizontal">
              <div class="form-group">
                <label for="exampleInputEmail2">First Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="jane.doe@example.com"
                   ng-model="currentConfirmation.data.firstEmail">
                </div>
            </form>
          </div>
        </div>
        <div class="row" style="margin: 0px;">
          <div class="col-xs-12">
            <form class="form-horizontal">
              <div class="form-group">
                <label for="exampleInputEmail2">Second Email</label>
            <input type="email" class="form-control" id="exampleInputEmail2" placeholder="jon.doe@example.com"
                   ng-model="currentConfirmation.data.secondEmail">
                </div>
            </form>
          </div>
        </div>
        <div class="row" style="margin: 0px;">
          <div class="col-xs-12">
            <form class="form-horizontal">
              <div class="form-group">
                <label for="exampleInputEmail2">Third Email</label>
            <input type="email" class="form-control" id="exampleInputEmail3" placeholder="j.d@example.com"
                   ng-model="currentConfirmation.data.thirdEmail">
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<div class="row">
  <div class="col-xs-6">
    <!--<button type="button" class="btn btn-default btn-lg btn-block" ng-click="cancelButtonConfirmPage()">Cancel</button>-->
    <div>
        <a href ng-click="cancelButtonConfirmPage()"><span style="font-size: 100px;margin-top: -30px;margin-left: 35%;" class="glyphicon glyphicon-arrow-left"
              aria-hidden="true"></span>
        </a>
    </div>
  </div>
    <div class="row col-xs-6">
      <button type="button" class="btn btn-default btn-lg btn-block" ng-click="confirmButtonConfirmPage()">
        <span ng-if="uberLoginData.hasAuthToken">Book</span>
        <span ng-if="!uberLoginData.hasAuthToken">Login</span>
      </button>
      <span ng-if="headerText.indexOf('Booking') !== -1">...Waiting...</span>
  </div>
</div>
