#map{
  height : 600px;
}
body{
	background-color: #FFEFEF;
}
.navbar-default{
	background-color: #E63056;
	border-color:  #E63056;
}

h1{
	text-align: center;
	color: #320000;
}
#request{height: 50px;
}

table{
	border-color: #320000;
	border-style: solid;

}
li{
	color: #320000;
}
